{% schema %}
{
  "name": "AR venture Script Bulk",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "AR venture Script Bulk"
    }
  ]
}
{% endschema %}

<div class="custom-script-section">
<script type="text/javascript"
    src="https://www.kdj37jkd.com/scripts/sdk/everflow.js"></script>

<script type="text/javascript">
EF.click({
    offer_id: EF.urlParameter('oid'),
    affiliate_id: EF.urlParameter('affid'),
    sub1: EF.urlParameter('sub1'),
    sub2: EF.urlParameter('sub2'),
    sub3: EF.urlParameter('sub3'),
    sub4: EF.urlParameter('sub4'),
    sub5: EF.urlParameter('sub5'),
    uid: EF.urlParameter('uid'),
    source_id: EF.urlParameter('source_id'),
    transaction_id: EF.urlParameter('_ef_transaction_id'),
});
</script>
</div>
