
<div>{{ section.settings.custom_html }}</div>

  {% schema %}
    {
      "name": "Custom HTML",
      "settings": [
        {
          "type": "textarea",
          "id": "custom_html",
          "label": "Custom HTML",
          "default": "<p></p>"
        }
      ],
       "presets": [
    {
      "name": "Custom HTML"
    }
  ]
    }
  {% endschema %}
