
{{ section.settings.custom_html }}
  {% schema %}
    {
      "name": "Custom HTML",
      "settings": [
        {
          "type": "textarea",
          "id": "custom_html",
          "label": "Custom HTML",
          "default": "<p></p>"
        }
      ]
    }
  {% endschema %}
