
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Poppins:700,400&display=swap');
      </style>
    
  <style>
    .gps-482553118609900442 .-translate-x-1\/2,.gps-482553118609900442 .-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-482553118609900442 .invisible{visibility:hidden}.gps-482553118609900442 .absolute{position:absolute}.gps-482553118609900442 .relative{position:relative}.gps-482553118609900442 .inset-0{inset:0}.gps-482553118609900442 .left-1\/2{left:50%}.gps-482553118609900442 .top-1\/2{top:50%}.gps-482553118609900442 .mx-auto{margin-left:auto;margin-right:auto}.gps-482553118609900442 .mb-0{margin-bottom:0}.gps-482553118609900442 .flex{display:flex}.gps-482553118609900442 .inline-flex{display:inline-flex}.gps-482553118609900442 .grid{display:grid}.gps-482553118609900442 .aspect-\[56\/32\]{aspect-ratio:56/32}.gps-482553118609900442 .h-6{height:24px}.gps-482553118609900442 .h-full{height:100%}.gps-482553118609900442 .w-6{width:24px}.gps-482553118609900442 .w-\[20px\]{width:20px}.gps-482553118609900442 .w-\[56px\]{width:56px}.gps-482553118609900442 .w-full{width:100%}.gps-482553118609900442 .\!max-w-none{max-width:none!important}.gps-482553118609900442 .max-w-full{max-width:100%}.gps-482553118609900442 .-translate-x-1\/2{--tw-translate-x:-50%}.gps-482553118609900442 .-translate-x-1\/2,.gps-482553118609900442 .-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-482553118609900442 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-482553118609900442 .flex-col{flex-direction:column}.gps-482553118609900442 .items-center{align-items:center}.gps-482553118609900442 .justify-center{justify-content:center}.gps-482553118609900442 .gap-y-0{row-gap:0}.gps-482553118609900442 .overflow-hidden{overflow:hidden}.gps-482553118609900442 .rounded{border-radius:4px}.gps-482553118609900442 .bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-482553118609900442 .bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-482553118609900442 .bg-cover{background-size:cover}.gps-482553118609900442 .bg-center{background-position:50%}.gps-482553118609900442 .leading-\[0\]{line-height:0}.gps-482553118609900442 .text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-482553118609900442 .opacity-0{opacity:0}.gps-482553118609900442 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-482553118609900442 .duration-200{transition-duration:.2s}.gps-482553118609900442 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-482553118609900442 .hover\:bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1023px){.gps-482553118609900442 .tablet\:\!aspect-video{aspect-ratio:16/9!important}}.gps-482553118609900442 .\[\&\>svg\]\:\!h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-482553118609900442 .\[\&\>svg\]\:\!w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-482553118609900442 .tablet\:\[\&\>svg\]\:\!h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-482553118609900442 .mobile\:\[\&\>svg\]\:\!h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-482553118609900442 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-482553118609900442 .\[\&_\>_article\]\:aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1023px){.gps-482553118609900442 .tablet\:\[\&_\>_article\]\:aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-482553118609900442 .mobile\:\[\&_\>_article\]\:aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-482553118609900442 .\[\&_p\]\:inline p{display:inline}.gps-482553118609900442 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-482553118609900442 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="glQCsXn5SX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--cg-tablet:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glQCsXn5SX mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gBRn3jvRfr relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gTK5Js4UaK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--mb-mobile:0px;--pt-mobile:20px;--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--pt-tablet:var(--g-s-3xl);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-3xl);--pr-tablet:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:470px;--w-tablet:100%;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTK5Js4UaK mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="go-oAE5oUl relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gvob1cjG8x"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-l);--cg:12px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvob1cjG8x mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gOjMTwNf9v relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--ta:left"
      class="leading-[0] gdbuAKm243"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#EA3335;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 512c106.048 0 192 -64 192 -176 0 -48 -16 -128 -80 -192 8 48 -40 64 -40 64C352 128 288 16 192 0c11.424 64 16 128 -64 192 -40 32 -64 87.328 -64 144C64 448 149.952 512 256 512Zm0 -32c-53.024 0 -96 -32 -96 -88 0 -24 8 -64 40 -96C196 320 224 336 224 336c-12 -40 16 -104 64 -112 -5.728 32 -8 64 32 96 20 16 32 43.648 32 72C352 448 309.024 480 256 480Z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gI-ghh8phG relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gsxTCEfTUS "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Open-Sans, 'Open Sans');--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--fs:italic;--weight:bold;word-break:break-word;overflow:hidden"
        >
        <p>As Seen On 'The Doctors' &amp; Buzzfeed</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="gr18pk9gNz "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-l);--mb-mobile:0px;--pl-mobile:auto;--pr-mobile:auto"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--ff:var(--g-font-Poppins, 'Poppins');--lh:130%;--size:52px;--size-tablet:52px;--size-mobile:34px;--weight:bold;word-break:break-word;overflow:hidden"
        >
        <p>6 Reasons You'll Want To Add This Natural Sleep Aid Alternative To Your Bedtime Routine Tonight</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gMofFdn4cy "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-l);--pt-mobile:25px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:20px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Physician Formulated for restless sleepers, Klova Sleep Patches combine transdermal technology and clinically proven ingredients to deliver deep, restorative sleep and well rested mornings.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gUUTHMk4Fo relative flex flex-col"
    >
      
    <div
      
      class="!max-w-none bg-black [&_>_article]:aspect-[var(--aspect)] tablet:[&_>_article]:aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gk3R8XBS4z"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--aspect:1/1;--aspect-mobile:1/1"
    >
      
    <gp-lite-vimeo-embed gp-data='{"id":"873906126","lazy":false,"iframeSrc":"https://player.vimeo.com/video/873906126?&autoplay=true&muted=true&loop=true&controls=false","title":"Video","style":{"--aspect":"1/1","--aspect-mobile":"1/1"}}'>
      <link rel="preconnect" href="https://player.vimeo.com" />
      <link rel="preconnect" href="https://i.vimeocdn.com" />
      <link rel="preconnect" href="https://f.vimeocdn.com" />
      <link rel="preconnect" href="https://fresnel.vimeocdn.com" />
      <article
        aria-hidden
        class="relative bg-cover bg-center gp-lite-vimeo-embed-article tablet:!aspect-video"
        data-title="Video"
        style="--aspect:1/1;--aspect-mobile:1/1"
      >
        <img src="" alt="Poster" class="invisible h-full w-full" />
        <button
          type="button"
          class="absolute top-1/2 left-1/2 flex aspect-[56/32] w-[56px] -translate-x-1/2 -translate-y-1/2 items-center justify-center rounded bg-black/80 transition-colors hover:bg-[#ef0800] gp-lite-vimeo-embed-button invisible opacity-0"
          aria-label="Play"
        >
          <svg class="w-[20px] text-white" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
            />
          </svg>
        </button>
        <iframe
             style="--aspect:1/1;--aspect-mobile:1/1;position:absolute;height:100%;width:100%"
            title="Video"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            src="https://player.vimeo.com/video/873906126?&autoplay=true&muted=true&loop=true&controls=false"
            class="inset-0 w-full bg-black absolute"
          ></iframe>
      </article>
    </gp-lite-vimeo-embed>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-vimeo-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-482553118609900442 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/klova/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=482550033917412398&sectionId=482553118609900442)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
