
  
  
  <style>
    .gps-482558397661578286 .-translate-x-1\/2,.gps-482558397661578286 .-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-482558397661578286 .visible{visibility:visible}.gps-482558397661578286 .invisible{visibility:hidden}.gps-482558397661578286 .absolute{position:absolute}.gps-482558397661578286 .relative{position:relative}.gps-482558397661578286 .left-1\/2{left:50%}.gps-482558397661578286 .top-1\/2{top:50%}.gps-482558397661578286 .mx-auto{margin-left:auto;margin-right:auto}.gps-482558397661578286 .mb-0{margin-bottom:0}.gps-482558397661578286 .flex{display:flex}.gps-482558397661578286 .grid{display:grid}.gps-482558397661578286 .aspect-\[56\/32\]{aspect-ratio:56/32}.gps-482558397661578286 .h-full{height:100%}.gps-482558397661578286 .w-\[20px\]{width:20px}.gps-482558397661578286 .w-\[56px\]{width:56px}.gps-482558397661578286 .w-full{width:100%}.gps-482558397661578286 .\!max-w-none{max-width:none!important}.gps-482558397661578286 .max-w-full{max-width:100%}.gps-482558397661578286 .-translate-x-1\/2{--tw-translate-x:-50%}.gps-482558397661578286 .-translate-x-1\/2,.gps-482558397661578286 .-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-482558397661578286 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-482558397661578286 .flex-col{flex-direction:column}.gps-482558397661578286 .items-center{align-items:center}.gps-482558397661578286 .justify-center{justify-content:center}.gps-482558397661578286 .gap-y-0{row-gap:0}.gps-482558397661578286 .rounded{border-radius:4px}.gps-482558397661578286 .bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-482558397661578286 .bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-482558397661578286 .bg-cover{background-size:cover}.gps-482558397661578286 .bg-center{background-position:50%}.gps-482558397661578286 .text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-482558397661578286 .opacity-100{opacity:1}.gps-482558397661578286 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-482558397661578286 .duration-200{transition-duration:.2s}.gps-482558397661578286 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-482558397661578286 .hover\:bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1023px){.gps-482558397661578286 .tablet\:\!aspect-video{aspect-ratio:16/9!important}}@media (max-width:767px){.gps-482558397661578286 .mobile\:\!aspect-video{aspect-ratio:16/9!important}}.gps-482558397661578286 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-482558397661578286 .\[\&_\>_article\]\:aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1023px){.gps-482558397661578286 .tablet\:\[\&_\>_article\]\:aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-482558397661578286 .mobile\:\[\&_\>_article\]\:aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="go7rFAGlpa"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="go7rFAGlpa mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gS10bDpkmb relative flex flex-col"
    >
      
    <div
      
      class="!max-w-none bg-black [&_>_article]:aspect-[var(--aspect)] tablet:[&_>_article]:aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] g5j0iucnTj"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--aspect:16/9"
    >
      
    <gp-lite-vimeo-embed gp-data='{"id":"741139676","lazy":true,"iframeSrc":"https://player.vimeo.com/video/741139676?&autoplay=true&muted=true&loop=true&controls=false","title":"Video","style":{"--aspect":"16/9"}}'>
      <link rel="preconnect" href="https://player.vimeo.com" />
      <link rel="preconnect" href="https://i.vimeocdn.com" />
      <link rel="preconnect" href="https://f.vimeocdn.com" />
      <link rel="preconnect" href="https://fresnel.vimeocdn.com" />
      <article
        aria-hidden
        class="relative bg-cover bg-center gp-lite-vimeo-embed-article tablet:!aspect-video mobile:!aspect-video"
        data-title="Video"
        style="--aspect:16/9"
      >
        <img src="" alt="Poster" class="invisible h-full w-full" />
        <button
          type="button"
          class="absolute top-1/2 left-1/2 flex aspect-[56/32] w-[56px] -translate-x-1/2 -translate-y-1/2 items-center justify-center rounded bg-black/80 transition-colors hover:bg-[#ef0800] gp-lite-vimeo-embed-button visible opacity-100"
          aria-label="Play"
        >
          <svg class="w-[20px] text-white" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
            />
          </svg>
        </button>
        
      </article>
    </gp-lite-vimeo-embed>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-vimeo-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 0",
    "tag": "section",
    "class": "gps-482558397661578286 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/klova/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=482550033917412398&sectionId=482558397661578286)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
