<section class="video-text">

  <div class="video-text-content">
    <div class="video-text-logo"><img src="{{ "logo.svg" | file_url }}"></div>
    <div class="video-text-start">
      <div class="text-area-data">
        <div class="img-icon-content">
         <div class="img-icon">{% include 'z-patch-icon' %}</div><p class="natural-text">Natural Self-Care Hack for Deeper, More Restorative Sleep</p>
        </div>
        <h2 class="goodbye-text">Say Goodbye to Sleepless Nights and Hello to Restful Mornings</h2>
        <p class="powered-text">
          <span style="font-weight: 400; font-family: Poppins; font-size: 18px;"><span style="font-style: normal;">Powered by <strong>natural ingredients</strong>, o<span style="font-weight: 400; font-family: Poppins; font-size: 18px;"><span style="font-style: normal;">ur <strong>long-lasting sleep patch</strong>&nbsp;</span></span>delivers sleep promoting goodness up to <strong>5x more effectively</strong> than their tablet, chew or gummy counterparts via <strong>transdermal</strong> absorption. <strong>Proven</strong> time and time again, <strong>T</strong><strong>ransdermal melatonin WORKS</strong>! Skeptical? Try it and <strong><u>get a full refund if you aren't bragging about your sleep!</u></strong></span></span>
        </p>
        <div class="sleep-btn">
          <a href="#subscribe"><p>YES, I WANT SLEEP!</p></a>
        </div>
      </div>
      <div class="video-area-data">
        <div class="gif-section"><img src="{{ "z-patch-gif.gif" | file_url }}"></div>
      </div>
    </div>
    <div class="free-shipping-content">
      <div class="free-text"><img src="{{  "free-shipping.svg" | file_url }}"></div>
    </div>
    <div class="support-content">
      <img src="{{ "support.svg" | file_url  }}">
    </div>
  </div>
  
</section>

<style>
  .video-text{
    background-image:url("https://cdn.shopify.com/s/files/1/2065/0707/files/bg-gif-text.png?v=1709699095");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 815px;
    padding:5px;
  }
  .video-text-logo{
    width:129px;
    height:52px;
  }
  .video-text-logo img{
    width:100%;
    height:100%;
  }
</style>
{% schema %}
  {
    "name": "z-patch image",
    "settings": [],
    
      "presets":[
        {
          "name":"z-patch image"
        }
      ]
    
  }
{% endschema %}