<section class="z-patch-announcement-bar">
  <div class="announcement-zpatch-content">
     <div class="announcement-zpatch-data">
    <div class="z-patch-page-width announcement-bar-text">
      <p style="text-align: center;"><span style="font-size: 20px; font-family: Poppins; font-weight: 700; font-style: normal; color: rgb(255, 255, 255);">*limited time offer, full price effective next week!</span></p>
    </div>
     </div>
  </div>
</section>

<style>
  .announcement-zpatch-content{
    background: rgba(102, 96, 170, 1);
    height: 53px;
    position: relative;
  
  }
  .announcement-zpatch-data{
    height:100%;
      display:flex;
    justify-content: center;
    align-items: center;
  }
  .announcement-bar-text{
    padding-top:2px;
  }
</style>

{% schema %}
  {
    "name": "z-patch announcement-bar",
    "settings": [],
    "presets":[
      {
        "name":"z-patch announcement-bar"
      }
    ]
  }
{% endschema %}