<section class="zsleep-footer-content">
<div class="zsleep-footer2">
<div class="zsleep-page-width" style="height: auto;">
<p class="klova-text spc-white"><span>© Klova 2024</span></p>
  <div data-cms-area="cms-landing-page-placeholder-path" data-cms-area-filters="path">
    <div data-cms-cct-instanceid="CMS_HTML-41" data-view="CCT-View">
      <p class="got-text spc-white">
        <span>
          <strong>Got a question?</strong>
        </span>
      </p>
   
        <p class="terms-text" style="text-align: center;">
          <span>Call our sleep gurus at 888-568-1688, M-F 9am-4pm PST.<br><a href="https://www.klova.com/">www.klova.com</a><br>@klovasleep on social media channels<br>#klova #zpatch #restedhuman<br>
            <a class="terms-data" data-action="url" data-params="false" href="https://www.klova.com/pages/terms" target="_blank">Terms &amp; Conditions</a> | <a data-action="url" data-params="false" href="https://www.klova.com/policies/privacy-policy" target="_blank">Privacy Policy</a><br>
            <a class="shipping-data" data-action="url" data-params="false" href="https://www.klova.com/pages/shipping" target="_blank">Shipping, Returns &amp; Refunds</a></span>
        </p>
 
      <span style="color: rgb(255, 255, 255);">
              <a href="clkn/https/www.ncbi.nlm.nih.gov/pmc/articles/PMC2909186/"></a>
      </span>
    </div>
  </div>
  <p class="statement-text" style="text-align: center;">
    <span >These statements have not been evaluated by the Food and Drug Administration. These products are not intended to diagnose, treat, cure, or prevent any diseases. You should consult a licensed health care professional before starting any supplement, dietary, or exercise program, especially if you are pregnant or have any pre-existing injuries or medical conditions.
    </span>
  </p>
</div>
</div>
</section>
<style>
  .klova-text.spc-white span{
    color:#000;
  }
  .got-text.spc-white span{
    color:#000;
  }
  .zsleep-footer2 p{
    color:#000;
  }
    .zsleep-footer2 span{
    color:#000;
  }
  .statement-text{
    font-size:14px;
    font-family: Arial, sans-serif;
    padding:20px 0px;
    padding-bottom:10px;
  }
  .terms-text{
    font-size:14px;
    font-family: Arial, sans-serif;
  }
  .terms-text a{
   text-decoration: underline;
  }
  .zsleep-footer2{
    background-color:rgba(255,255,255,1);
    padding:10px 0px;
  }
  .klova-text{
    line-height: 24px; 
    text-align: center;
    font-size:14px;
    padding-bottom:20px;
  }
  .klova-text span{
    color: rgb(255, 255, 255);
  }
  .got-text{
    text-align: center;
    padding-bottom:20px;
    font-size:14px;
  }
  .got-text span{
    color: rgb(255, 255, 255);
  }
</style>

{% schema %}
  {
    "name": "z-patch footer2",
    "settings": [],
    "presets":[
      {
        "name":"z-patch footer2"
      }
    ]
  }
{% endschema %}