<section class="z-patch-reviews-photo">
  
  <div class="reviews-content">
    <div class="custom-page-width">
    <!-- Review Part Start -->
    <div class="reviews-main-content">  
    <div class="reviews-main-title">
    <h2>{{ section.settings.review_title }}</h2>
    </div>  
    </div>
    <div class="reviews-img-data">
      {% for block in section.blocks %}
      <div class="reviews-img">
        {% if block.settings.review_img !=blank %}
        <img src="{{ block.settings.review_img | img_url:'master' }}">
        {% endif %}  
      </div>
      {% endfor %}
     </div>
      <!-- Review Part End  -->
  
      <!-- How it works start -->
<div class="how-it-works">
 <h2 class="how-it-text">How It Works</h2>
  <div class="video-text-start">
      <div class="how-it-text-area">
        <div class="gif-section"><img src="{{ "how-it-works.gif" | file_url }}"></div>
      </div>
    
      <div class="text-area-data">

     <p style="line-height: 29px; text-align: center; margin-bottom: 16px;"><span style="font-weight: 400; font-family: Poppins; font-size: 18px; margin-bottom:16px;"><span style="font-style: normal;">The same technology powering your favorite skin care products likely powers Klova too!</span></span></p>

     <p style="line-height: 29px; text-align: center;"><span style="font-family: Poppins;"><span style="font-size: 18px;">Your skin easily absorbs the natural ingredients because they are smaller than 500 daltons (</span></span><em style="font-family: Poppins; font-size: 18px; font-style: normal; font-weight: 400;"><span style="font-family: Poppins; font-weight: 500; font-style: italic;">the fancy science term for molecular weight</span></em><span style="font-family: Poppins;"><span style="font-size: 18px;">) which is the "size limit" for optimal transdermal absorption.&nbsp;</span></span></p>   

     <p style="line-height: 38px; text-align: center; margin-top: 16px;"><span style="font-size: 32px;"><strong><span style="font-family: Poppins; font-weight: 700; font-style: normal;">PEEL. STICK. SLEEP.</span></strong></span></p>   

      </div>
    
    </div>

    <div class="sleep-btn-content">
       <div class="sleep-btn">
         <a href="#subscribe"> <p>YES, I WANT SLEEP!</p></a>
        </div>

       <div class="sleep-btn">
           <button data-fancybox data-src="#dialog-content"><p>SEE INGREDIENTS FIRST</p></button>
        </div>
    </div>
  
</div>

 
      
      <!-- How it works end -->
      
    </div>
  </div>

</section>

 

    <div>
      <div id="dialog-content" style="display:none; max-width:840px;overflow: auto;">
        <div class="lp-element lp-pom-text nlh" id="lp-pom-text-2" style="height: 550px;">
          <p style="text-align: center;"><strong><span style="font-family: Poppins; font-weight: 500; font-style: normal; font-size: 14px;"><em>EACH PACK CONTAINS 28 PATCHES. FOR BEST RESULTS USE 1 PATCH NIGHTLY. APPLY TO A CLEAN, HAIR-FREE AREA WITH GOOD BLOOD FLOW (TOP OF FOOT/ WRIST/ SHOULDER) ABOUT AN HOUR BEFORE BED. DISCARD IN THE MORNING.</em></span></strong>
          </p>
          <p style="text-align: center;"><strong><span style="font-family: Poppins; font-weight: 700; font-style: normal; font-size: 18px;"><u>EACH PATCH CONTAINS:</u></span></strong></p>
          <p style="text-align: center;"><strong><span style="font-family: Poppins; font-weight: 700; font-style: normal; font-size: 18px;">Hop Flower Powder (5mg)</span></strong></p>
          <p style="text-align: center;"><span style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Poppins;">Hops are known for their calming effects, which can help ease tension, relax the mind, and promote a more restful sleep.</span></span></span></p>
          <p style="text-align: center;"><span style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Poppins;"><strong><span style="font-size: 18px;">Valerian Root Powder (5mg)</span></strong></span></span></span></p>
          <p style="text-align: center;"><span style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Poppins;">Valerian root can reduce the time it takes to fall asleep and improve sleep quality with its natural, soothing properties.</span></span></span></p>
          <p style="text-align: center;"><span style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Poppins;"><strong><span style="font-size: 18px;">Sensoril® Ashwagandha Extract (4.5mg)</span></strong></span></span></span></p>
          <p style="text-align: center;"><span style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Poppins;">&nbsp;Sensoril Ashwagandha is a clinically proven adaptogen shown to reduce stress, thus fostering a more restful environment as you transition to sleep.</span></span></span></p>
          <p style="text-align: center;"><span style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Poppins;"><strong><span style="font-size: 18px;">L-Theanine (4mg)</span></strong></span></span></span></p>
          <p style="text-align: center;"><span style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Poppins;">This naturally occurring amino acid enhances sleep quality and can help manage stress levels by promoting an enhanced state of calm.</span></span></span></p>
          <p style="text-align: center;"><span style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Poppins;"><strong><span style="font-size: 18px;">Melatonin (3mg)</span></strong></span></span></span></p>
          <p style="text-align: center;"><span style="font-family: Poppins;">Melatonin is key in regulating your body's sleep-wake cycle, assisting you in falling asleep and maintaining a deep, uninterrupted&nbsp;sleep throughout the night.</span></p>
          <p style="text-align: center;"><span style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Poppins;"><strong><span style="font-size: 18px;">GABA (2mg)</span></strong></span></span></span></p>
          <p style="text-align: center;"><span style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Poppins;">GABA is a neurotransmitter that calms the nervous system, reducing feelings of anxiety and stress, facilitating a deeper, more restful sleep.</span></span></span><br><br></p>
          <p style="text-align: center;"><span style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Poppins;"><strong><span style="font-size: 18px;">Lavender Oil (1mg)</span></strong></span></span></span></p>
          <p style="text-align: center;"><span style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Poppins;">With its calming and soothing properties, lavender oil can help relax your mind and body, encouraging a better, deeper sleep.</span></span></span></p>
          <p style="text-align: center;"><span style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Poppins;"><strong><span style="font-size: 18px;">Passion Flower Extract (0.5mg)</span></strong></span></span></span></p>
          <p style="text-align: center;"><span style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Poppins;">Passion flower extract has the ability to increase GABA levels in your brain, which promotes a state of relaxation and improves sleep quality.</span></span></span></p>
          <p style="text-align: center;"><span style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Poppins;"><strong><span style="font-size: 18px;">White Willow Bark Extract (0.5mg)</span></strong></span></span></span></p>
          <p style="text-align: center;"><span style="font-family: Poppins;">Rich in salicin, it can help fight skin sensitivity and help keep the skin under the patch hydrated and healthy.</span></p><p style="text-align: center;"><span style="font-family: Poppins; font-weight: 400; font-style: normal;"><strong><span style="font-size: 18px;">Aloe Vera Leaf Gel Extract (0.5mg)</span></strong></span></p>
          <p style="text-align: center;"><span style="font-family: Poppins; font-weight: 400; font-style: normal;">Known for its antioxidant and anti-inflammatory properties, it can support a more restful sleep environment by aiding in keeping the skin under the patch moisturized and irritant free.</span></p>
          <p style="text-align: center;"><span style="font-weight: 700; font-family: Poppins; font-size: 18px;"><strong><em>30 DAY MONEY BACK GUARANTEE</em></strong></span></p>
        </div> 
      </div>
    </div>
  
 

    
   

<style>
  .how-it-works{
    padding-bottom:40px;
    padding-top:70px;
  }
  .how-it-text{
    font-size:32px;
    text-align:center;
    margin: 0px;
    font-family: Poppins;
    font-weight: 700;
    font-style: normal;
        padding-left: 60px;
    padding-bottom: 10px;
  }
  .how-it-text-area{
    display:flex;
    flex-wrap:wrap;
    justify-content: end;
    position: relative;
    padding-right: 10px;
    right: 80px;
    width:50%
  }
  .sleep-btn-content{
    display:flex;
    justify-content:space-evenly;
  }

  .reviews-main-title{
    max-width:650px;
    margin:0 auto;
  }
.reviews-main-title h2{
   font-size:32px;
    font-family: Poppins;
    font-weight: 700;
    font-style: normal;
   padding-top:5px;
  }
  .reviews-main-content{
    text-align:center;
  }
.reviews-content{
  background-image:url({{ section.settings.bg_image | img_url:'master' }});
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
} 
 .reviews-img-data{
    max-width:100%;
    width:100%;
    display:flex;
    align-items:center;
    padding-top:15px;
    flex-wrap: wrap;
    padding-bottom:60px;
 }   
 .reviews-img{
    width:33.33%;
    max-width:33.33%;
    margin-bottom: 15px;
    margin-top: 10px;
 }   
.fancybox__container button.f-button.is-close-btn{
    top: 0px !important;
    right: 10px !important;
 }   
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script>
  Fancybox.bind('[data-fancybox]', {
    // Custom options for all galleries
  });    
</script>

{% schema %}
  {
    "name": "z-patch reviews-photo",
    "settings": [
      {
        "type":"image_picker",
          "id":"bg_image",
        "label":"Background Image"
      },
      {
        "type":"text",
          "id":"review_title",
        "label":"Review Main Title"
      }
    ],
    "blocks":[
      {
      "type": "text",
      "name": "review-photo",
      "settings":[
      {
        "type":"image_picker",
          "id":"review_img",
        "label":"Review Image"
      }
      ]
      }
    ],
    "presets":[
      {
        "name":"z-patch reviews-photo"
      }
    ]
  }
{% endschema %}