<section class="z-patch-night-sleep">
  <div class="night-sleep-content">
    <div class="night-sleep-data custom-page-width">

      <!-- Proven text start -->
      <h2 class="proven-text">Proven In A 14 Night Sleep Study</h2>
      <p class="success-text">"98% success rate in Sleep Study Participants.” </p>
      <p class="result-text" data-fancybox data-src="#result-data" >See Full Results</p>

      <div class="image-width-text">
        <div class="image-width-text-content">
          <div class="image-content">

            <img src="{{ "Frame_12121.png" | file_url }}">
            
          </div>
          <div class="text-content"></div>
        </div>
      </div>
      <!-- Proven text end -->

    <!-- Instgram-reviews-Start -->
      <div class="inst-reviews">
        <div class="inst-data">
          {% for block in section.blocks %}
          <img src="{{ block.settings.review_img | img_url:'master' }}">
          {% endfor %}  
        </div>
      </div>
    <!-- Instgram-reviews-End -->


<div class="popup-content-results">

<div class="lp-positioned-content" id="result-data" style="display:none; max-width:840px;overflow: auto;">
  <div style="max-width:646px; height: auto;font-size: 14px;font-family: arial;display: flex;flex-wrap: wrap;justify-content: center;color:#000;">
  <div
    class="lp-element lp-pom-text nlh"
    id="lp-pom-text-3"
    style="height: auto"
  >
    <p style="margin-bottom: 16px;text-align: center">
      <strong>CONCLUSIONS</strong><strong><br /></strong>As can be seen from the
      summary data (Table 1) the product performed highly<br />favourably over
      the 2-week trial period in all attributes under Clearcast guidelines<br />of
      advertising (&gt;80% favourability). Individual responses are recorded in
      Appendix
    </p>
    <p style="margin-bottom: 16px; text-align: center">3:</p>
    <p style="margin-bottom: 10px; text-align: center">
      96% of subjects said that the patch helped improve their quality of
      sleep<br />92% of subjects said that they had a more restful night’s sleep
      while using the patch.
    </p>
  </div>
  <div
    class="lp-element lp-pom-text nlh"
    id="lp-pom-text-4"
    style="height: auto"
  >
 
  </div>
  <div class="lp-element lp-pom-image" id="lp-pom-image-5">
    <div class="lp-pom-image-container" style="overflow: hidden">
      <img
        src="//d9hhrg4mnvzow.cloudfront.net/shop.klova.com/zpatch-tt-lp-ss-v1/170bd064-screenshot-2023-05-02-at-2-53-35-pm_10e20ie000000000000028.png"
        alt=""
        data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/shop.klova.com/zpatch-tt-lp-ss-v1/170bd064-screenshot-2023-05-02-at-2-53-35-pm_10e20ie000000000000028.png"
        data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/shop.klova.com/zpatch-tt-lp-ss-v1/170bd064-screenshot-2023-05-02-at-2-53-35-pm_10s410s000000000000028.png"
        data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/shop.klova.com/zpatch-tt-lp-ss-v1/170bd064-screenshot-2023-05-02-at-2-53-35-pm_1000000000000000000028.png"
        srcset="
          //d9hhrg4mnvzow.cloudfront.net/shop.klova.com/zpatch-tt-lp-ss-v1/170bd064-screenshot-2023-05-02-at-2-53-35-pm_10e20ie000000000000028.png 1x,
          //d9hhrg4mnvzow.cloudfront.net/shop.klova.com/zpatch-tt-lp-ss-v1/170bd064-screenshot-2023-05-02-at-2-53-35-pm_10s410s000000000000028.png 2x,
          //d9hhrg4mnvzow.cloudfront.net/shop.klova.com/zpatch-tt-lp-ss-v1/170bd064-screenshot-2023-05-02-at-2-53-35-pm_1000000000000000000028.png 3x
        "
      />
    </div>
  </div>
  <div class="lp-element lp-pom-image" id="lp-pom-image-6">
    <div class="lp-pom-image-container" style="overflow: hidden">
      <img
        src="//d9hhrg4mnvzow.cloudfront.net/shop.klova.com/zpatch-tt-lp-ss-v1/bc853551-screenshot-2023-05-02-at-2-53-48-pm_10jr07l000000000000028.png"
        alt=""
        data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/shop.klova.com/zpatch-tt-lp-ss-v1/bc853551-screenshot-2023-05-02-at-2-53-48-pm_10jr07l000000000000028.png"
        data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/shop.klova.com/zpatch-tt-lp-ss-v1/bc853551-screenshot-2023-05-02-at-2-53-48-pm_1000000000000000000028.png"
        srcset="
          //d9hhrg4mnvzow.cloudfront.net/shop.klova.com/zpatch-tt-lp-ss-v1/bc853551-screenshot-2023-05-02-at-2-53-48-pm_10jr07l000000000000028.png 1x,
          //d9hhrg4mnvzow.cloudfront.net/shop.klova.com/zpatch-tt-lp-ss-v1/bc853551-screenshot-2023-05-02-at-2-53-48-pm_1000000000000000000028.png 2x
        "
      />
    </div>
  </div>
  </div>
</div>
</div>
    
</div>
</div>
</section>

<style>
.proven-text{
  font-family: Poppins;
  font-weight: 700;
  font-style: normal;
  font-size:32px;
}
  .image-content{
    padding-top:10px;
  }
.success-text{
  font-style: normal;
  font-family: 'Poppins';
  color: #000;
  font-size: 18px;
  margin-bottom:10px;
}
.night-sleep-data{
  text-align:center;
  padding-top:10px;
} 
.result-text{
  font-size: 16px;
  color: #7190f2;
  /* padding-top: 10px; */
  font-weight: 500;
  font-family: 'Poppins';
  padding-bottom: 20px;
  font-style: italic;
  max-width:253px;
  margin:0 auto;
  height:21px;
  border-radius:5px;
  cursor: pointer;
}
.result-text:hover{
  background-color:rgba(119,209,231,0.75);
  color:#fff;
}  
 .inst-reviews{
   padding-top:30px;
 } 
  .inst-data{
    padding-top:30px;
    display:flex;
   justify-content: center;
  }
 .inst-data img{
   height:100%;
 } 
  .image-width-text-content{
    padding-top:20px; 
  }
</style>


{% schema %}
  {
    "name": "z-patch night-sleep",
    "settings": [],
     "blocks":[
      {
      "type": "text",
      "name": "Instgarm Reviews",
      "settings":[
      {
        "type":"image_picker",
          "id":"review_img",
        "label":"Instgram Reviews"
      }
      ]
      }
    ],
    
      "presets":[
        {
          "name":"z-patch night-sleep"
        }
      ]
    
  }
{% endschema %}