<section class="zsleep-show">
  <div class="zsleep-show-content">
    <div class="zsleep-content zsleep-page-width">
      <h2 style="text-align: center;" class="trans-text">Transform Your Sleep Tonight With Klova's ZSleep Patch</h2>
      <div class="zsleep-show-data">
        <p style="text-align: center;">
          <span style="font-size: 18px; font-family: Montserrat; font-weight: 600; font-style: normal; color: rgb(102, 96, 170);"
            >Featured on 'The Doctors", The Klova ZPatch was <strong>SHOWN</strong> to work on
            <strong>ACTUAL</strong> audience members...</span
          >
        </p>
      </div>
      <video
        width="100%"
        height="100%"
        controls
        poster="https://d9hhrg4mnvzow.cloudfront.net/shop.klova.com/zsleep-patches/c4b1f0a6-screen-shot-2021-08-12-at-10-32-15-am_10fo093000000000000028.png"
      >
        <source src="https://cdn.shopify.com/videos/c/o/v/29204590847d49a1b9f61b332fc6a82d.mp4" type="video/mp4">
      </video>

      <p style="text-align: center;">
        <span style="font-size: 14px; padding-top:10px; font-family: Montserrat; font-weight: 600; font-style: normal; color: black"
          >"I <strong><u>love</u></strong> the patch, I definitely saw an improvement" - Shelbie</span
        >
      </p>
      <p style="text-align: start;padding-bottom: 8px;padding-top:10px;">
        <span style="font-size: 18px; padding-top:10px; font-family: Montserrat; font-weight: 600; font-style: normal; color: rgb(102, 96, 170);">
          Dear Friend,
        </span>
      </p>
      <p style="text-align: start;padding-bottom: 8px;">
        <span style="line-height: 0px; font-size: 18px; padding-top:10px; font-family: Montserrat; font-weight: 600; font-style: normal; color: rgb(102, 96, 170);"
          >Tossing and turning, staring at the ceiling, counting sheep — sound familiar?</span
        >
      </p>
      <p style="text-align: start;padding-bottom: 8px;">
        <span style="line-height: 0px; font-size: 18px; padding-top:10px; font-family: Montserrat; font-weight: 600; font-style: normal; color: rgb(102, 96, 170);"
          >If you're like millions who struggle to shut down their brains and slip into restful slumber, you're not
          alone.</span
        >
      </p>
      <p style="text-align: start;padding-bottom: 8px;">
        <span style="line-height: 0px; font-size: 18px; padding-top:10px; font-family: Montserrat; font-weight: 600; font-style: normal; color: rgb(102, 96, 170);"
          >That frustration of knowing you need to sleep but just can't seems endless, doesn't it?</span
        >
      </p>
      <p style="text-align: start;padding-bottom: 8px;">
        <span style="line-height: 0px; font-size: 18px; padding-top:10px; font-family: Montserrat; font-weight: 600; font-style: normal; color: rgb(102, 96, 170);"
          >It's not just about feeling tired the next day; it's the ongoing battle with fatigue, mood swings, and
          decreased productivity.</span
        >
      </p>
      <p style="text-align: start;padding-bottom: 8px;">
        <span style="line-height: 0px; font-size: 18px; padding-top:10px; font-family: Montserrat; font-weight: 600; font-style: normal; color: rgb(102, 96, 170);"
          >It takes its toll…
        </span>
      </p>
    </div>
  </div>
</section>

<div class="sleep-patch-inst">
  <div class="sleep-patch-data">
    <div style="text-align: center;" class="zsleep-img zsleep-page-width">
      <h2 style="text-align: center;" class="it-time">It's Time To Confront This Nightly Challenge Head-On</h2>
      <p style="text-align: center;">
        <span style="font-size: 18px; padding-top:10px; font-family: Montserrat; font-weight: 600; font-style: normal; color:#FFF;">
          Discover the Klova ZSleep Patch, the secret to waking up feeling rejuvenated every morning.</span
        >
      </p>
      <img src="https://www.klova.com/cdn/shop/files/6-SleepZPatch_1800x1800.jpg">
      <p style="text-align: center;">
        <span style="font-size: 18px; padding-top:10px; font-family: Montserrat; font-weight: 600; font-style: normal; color:#FFF;">
          The ZSleep Patch, infused with a blend of natural ingredients, is your new ally in the battle against restless
          nights.</span
        >
      </p>
      <p style="text-align: center;padding-bottom: 20px;">
        <span style="font-size: 18px; padding-top:10px; font-family: Montserrat; font-weight: 600; font-style: normal; color:#FFF;">
          Designed to help you fall asleep faster and stay asleep longer our patch leverages the power of nature to
          improve your sleep quality without the need for pills or potions.</span
        >
      </p>
    </div>
  </div>
</div>
<style>
  .it-time{
    color:#fff;
    padding-top:10px;
  }
  .sleep-patch-data{
    background:#504e98;
    height:100%;
  }
  .zsleep-show-content{
    background:rgba(225,223,238,1);
  }
  .zsleep-content{
    text-align:center;
    padding:20px 0px;
  }
  .zsleep-show-data{
    max-width:530px;
    margin:0 auto;
  }
  .zsleep-img{
    position:relative;
  }
  .zsleep-img img{
    width: 500px;
    /* position: absolute; */
    /* top: 35px; */
    z-index: 111;
    /* transform: translate(29%, 0%); */
  }
</style>

{% schema %}
{
  "name": "zsleep show",
  "settings": [],
  "presets":[
    {
      "name":"zsleep show"
    }
  ]
}
{% endschema %}
