<section class="zsleep-announcement-bar">
  <div class="announcement-bar-content">
    <div class="zsleep-page-width announcement-bar-text">
      <p style="text-align: center;"><span style="font-size: 20px; font-family: Montserrat; font-weight: 700; font-style: normal; color: rgb(255, 255, 255);">THOUSANDS OF REVIEWS ON AMAZON, GOOGLE &amp; OUR SITE</span></p>
     <p style="text-align: center;"><span style="font-size: 10px; font-family: Montserrat; font-weight: 400; font-style: normal; color: rgb(255, 255, 255);">FEEL FREE TO LOOK UP MORE, HERE IS A SAMPLING :)</span></p>
    </div>
  </div>
</section>

<style>
  .announcement-bar-content{
    background: rgba(102, 96, 170, 1);
    height: 57px;
    position: relative;
  }
  .announcement-bar-text{
    padding-top:2px;
  }
</style>

{% schema %}
  {
    "name": "zsleep announcement-bar",
    "settings": [],
    "presets":[
      {
        "name":"zsleep announcement-bar"
      }
    ]
  }
{% endschema %}